[submodule "Katana/Assets/NnUtils"]
	path = Katana/Assets/NnUtils
	url = https://www.github.com/nnra6864/NnUtils
[submodule "BananaUtils"]
	path = BananaUtils
	url = https://github.com/IckyTheBiggy/BananaUtils.git
